.header {
    background: url(../images/bg.63c8e19.png) center 0 #f37d0f;
    background-size: auto 100%;
    width: 100%;
    padding: .17rem 0;
    font-size: .12rem;
}

.header_con {
    display: flex;
    align-items: center;
}

.head_img {
    height: .56rem;
    margin: 0 .16rem 0 .16rem;
    width: .47rem;
    height: .47rem;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 100%;
    border: 3px solid hsla(0, 0%, 100%, .4);
    display: flex;
    align-items: center;
}

.head_img img {
    width: auto;
    height: 100%;
}

.userinfo {
    color: hsla(0, 0%, 100%, .6);
}

.username {
    color: #fff;
}

/*
order
*/

.order {
    background: #fff;
    text-align: center
}

.order_top {
    height: .4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 .17rem;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}

.all_order {
    padding-right: .16rem;
    background: url(../images/icon/xiaomi_03.jpg) no-repeat right center;
}
.my_order{
    font-size: .14rem;
}

.order_order {
    height: .88rem;
}

.order_order ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: .88rem;
}
.order_order ul li a p{
    padding-top: .09rem;
}

/*
    列表 list
*/

.user_list{
    color: #212121;
}
.user_item{
    background: #fff;
    margin-top:10px; 
}
.item_line{
    height: .55rem;
    margin-left: .57rem;
}
.item_line a{
    justify-content: space-between;
    font-size: .14rem;
    line-height: .55rem;
    margin-right: .14rem;
    background: url(../images/icon/xiaomi_03.jpg) no-repeat right center;
}
.vip_center{
    background: url(../images/icon/xiaomi_18.jpg) no-repeat .16rem center;
}
.my_sale{
    background: url(../images/icon/xiaomi_21.jpg) no-repeat .16rem center;
}
.serve_center{
    background: url(../images/icon/xiaomi_23.jpg) no-repeat .16rem center;
}
.mi_home{
    background: url(../images/icon/xiaomi_25.jpg) no-repeat .16rem center;
}
.u_fcode{
    background: url(../images/icon/xiaomi_25.jpg) no-repeat .16rem center;
}
.u_setting{
    background: url(../images/icon/xiaomi_29.jpg) no-repeat .16rem center;
}