<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/base.css">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 100 * 26.67 + 'px'
    </script>
    <style>
        .order_empty {
            font-size: .14rem;
            text-align: center;
            background: url(//s1.mi.com/m/images/m/empty.png) 50% 0 no-repeat;
            background-size: 1rem 1rem;
            padding-top: 1.25rem;
            color: #999;
            margin: .4rem .5rem 0;
            display: box;
        }
    </style>
</head>

<body>
    <div class="order_empty">
        <p>您还没有
            <span>代付款</span>订单</p>
    </div>
</body>

</html>