<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/base.css">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 100 * 26.67 + 'px'
    </script>
    <style>
        .order_like{
            padding: 0.15rem 0;
        }
        .order_like .order_like_title{
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="order_like">
        <img src="//cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/e95ade2750a7fde92369b416c7d3176d.jpg" alt="" class="order_like_title">
    </div>
</body>
</html>